


{% include 'nav.html' %}
        {% block content %}
        <h1>book title</h1>
        <button><a href="{%url 'new_book' %}">New Book</a></button>
        {% for book in books %}
        {%if book.cover_image%}
        <img src="{{book.cover_image.url}}" alt="" height="200px" width="200">
        {%else%}
        <p>no Image</p>
        {%endif%}
        <h1><a href="{% url 'book_details' book.id %}">{{book.title}}</a></h1>
        <ul>
            <li>{{book.author}}</li>
            <li>{{book.description}}</li>
            <li>{{book.published_date}}</li>
        </ul>
        {% endfor %}
        {%endblock content %}